<!DOCTYPE html>
{% load render_bundle from webpack_loader %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Social Api</title>
    </head>
    <body>
        <div id="app">
        </div>
        <script type="text/javascript" src="/assets/public/static/bundle.js"></script></body>
    </body>
</html>
{% render_bundle 'main' %}